<div class="search-section" fxFlex="100%">
  <app-search (emmitSearch)="getSearch($event)"></app-search>
</div>

<ng-container class="container">
  <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons">
    <div
      class="pokemon"
      fxFlex.xl="31%"
      fxFlex.lg="31%"
      fxFlex.md="45%"
      fxFlex.sm="100%"
      fxFlex.xs="100%"
    >
      <a
        (click)="modal.toggle()"
        fxLayout.sm="row"
        fxLayoutAlign="space-between"
        *ngIf="pokemon.status"
      >
        <section
          class="pokemon-status"
          fxLayout="column"
          fxLayoutAlign="start start"
        >
          <h2>
            {{ pokemon.name | uppercase }}
          </h2>
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column">
              <span>Powers</span>
              <ul *ngFor="let value of pokemon.status.types">
                <li>
                  {{ value.type.name }}
                </li>
              </ul>
            </div>

            <div fxLayout="row" fxLayoutGap="20px">
              <div fxLayout="column">
                <span>Abilities</span>
                <ul *ngFor="let value of pokemon.status.abilities">
                  <li>
                    {{ value.ability.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section class="pokemon-image" fxLayoutAlign="start center">
          <img
            [src]="pokemon.status.sprites.other.dream_world.front_default"
            [alt]="pokemon.name"
          />
        </section>
      </a>
    </div>

    <app-modal #modal class="modal">
      <section

      >
        <div fxLayout="column" fxLayoutGap="20px">
          <section class="pokemon-names" fxLayoutAlign="space-between">
            <h1 class="slideInLeft">{{ pokemon.name }}</h1>
            <h2 class="slideInRight">{{ pokemon.name }}</h2>

            <section fxLayoutAlign="center start">
              <img
                [src]="pokemon.status.sprites.other.dream_world.front_default"
                [alt]="pokemon.name"
                class="slideInDown"
              />
            </section>
          </section>
        </div>
        <article
          class="pokemon-status-estatistics fadeIn"
          fxLayout="column"
          fxLayoutAlign="space-between"
        >
          <section>
            <h3>Estatistícas</h3>
            <ol>
              <li
                *ngFor="let value of pokemon.status.stats"
                fxLayoutAlign="space-between"
              >
                {{ value.stat.name }}

                <strong>
                  {{ value.base_stat }}
                </strong>
              </li>
            </ol>
          </section>
        </article>
      </section>
    </app-modal>
  </ng-template>
</ng-container>
<img
  src="assets/error.svg"
  alt="Deu erro na mostragem do pokemon"
  width="100%"
  *ngIf="apiError"
/>
